.content {
  display: flex;
}
.header {
  background-color: #3772ff;
  height: 5vh;
  color: white;
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: center;
}
.section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgb(78, 78, 78);
}
.addButton {
  color: white;
}
.addButton:hover {
  color: #3772ff;
  cursor: pointer;
  transition: 100ms ease-in;
}
